<!Doctype html>
<html ng-app="ToDoApp">
<head>
	<title>Learn Angular</title>
	<script src='https://code.angularjs.org/1.3.8/angular.js'></script>
	<script src="https://code.angularjs.org/1.3.8/angular-resource.js"></script>
	<script src="app.js"></script>
	<script src="filters.js"></script>
	<link rel="stylesheet" media="(max-width: 1920px)" href="style.css">
</head>
<body>
	<div ng-controller="ToDoCtrl">
		<form ng-submit="submit(task)">
			<input type="text" ng-model="task" placeholder="Remind me to do this"></input>
			<input type="submit"></input>
		</form>
		<ul>
			<li ng-repeat="task in Tasks | taskCompleted:status">
				<input type='checkbox' ng-model="task.completed"></input>
				<div ng-class="{strike: task.completed}" ng-hide="task.edit" ng-dblclick="editTask(task, $index)">{{task.task}}</div>
				<form ng-show="task.edit" ng-submit="saveEdit(task)" ng-model-options="{ updateOn: 'submit' }">
					<input type="text" ng-model="task.task" ng-blur="cancelEdit(task)"></input>
					<input ng-show="" type="submit"></input>
				</form>
			</li>
		</ul>
		<ul id="tabs">
			<li><a ng-href="#all" ng-click="status = '' ">All</a></li>
			<li><a ng-href="#active" ng-click="status = true ">Active</a></li>
			<li><a ng-href="#completed" ng-click="status = false ">Completed</a></li>
		</ul>
	</div>
</body>
</html>